<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.techacademy.aya.takeishi.imatsurai">

    <!-- 必要なパーミッション -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- アプリケーション設定 -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Imatsurai"> <!-- テーマ設定 -->

        <!-- Activity 定義 -->
        <activity
            android:name=".CounselingConfActivity"
            android:exported="false" />
        <activity
            android:name=".ResolutionBathsoapActivity"
            android:exported="false" />
        <activity
            android:name=".ResolutionHotyogaActivity"
            android:exported="false" />
        <activity
            android:name=".ResolutionCounselingActivity"
            android:exported="false" />
        <activity
            android:name=".ResolutionTearsActivity"
            android:exported="false" />
        <activity
            android:name=".DrinkoutsideActivity"
            android:exported="false" />
        <activity
            android:name=".MyfavoActivity"
            android:exported="false" />
        <activity
            android:name=".soudan_naiyou"
            android:exported="false" />
        <activity
            android:name=".CounselingContentActivity"
            android:exported="false" />
        <activity
            android:name=".SelfFitTopActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".MenuSelectActivity"
            android:exported="false" />
        <activity
            android:name=".TodayConditionActivity"
            android:exported="false" />
        <activity
            android:name=".WayOfReleaseStressActivity"
            android:exported="false" />
        <activity
            android:name=".DefaultConditionActivity"
            android:exported="false" />
        <activity
            android:name=".BirthdayActivity"
            android:exported="false" />

        <!-- MainActivity 定義 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
